@import "../../scss/mixins.scss";

.table-page-wrapper {
  @include center;
  flex-direction: column;

  .table-filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

    .table-filter-option {
      background-color: #269fe0;
      color: white;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 700;
      padding: 12px 30px;
      flex-grow: 1;
      margin: 0px 7px 10px;
      
      &.table-filter-button {
        &:hover {
          background-color: #41b1ee;
        }
      }
  
      &.table-filter-select {
        @include center;
        flex-grow: 1;
  
        select {
          margin-left: 10px;
          border-radius: 4px;
        }
      }
    }
  }

  .table-wrapper {
    margin-top: 25px;

    .table-loader-wrapper {
      padding-top: 40px;

      .table-loader {
        border: 6px solid rgba(0,0,0,0.1);
        border-top: 6px solid rgba(0,0,0,0.8);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spinner .6s linear infinite;
      }
    }

    table {
      border-collapse: collapse;
      border-top: 1px solid black;
      border-left: 1px solid black;

      thead th,
      tbody td {
        padding: 15px;
        min-width: 95px;
        text-align: left;
        background-color: #eee;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        @include mobile {
          min-width: 0px;
          padding: 10px;
        }
      }

      thead th {
        color: white;
        background-color: rgb(138, 138, 138);
      }
    }
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}