@import "../../scss/mixins.scss";

.home-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;

  @include mobile {
    margin: 0px;
  }

  home-card {
    margin: 10px;
    
    &:nth-child(1) {
      width: calc(50% - 20px);
      order: 1;

      @include mobile {
        width: 100%;
        order: 3
      }
    }

    &:nth-child(2) {
      width: calc(50% - 20px);
      order: 2;

        @include mobile {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 100%;
      order: 3;

        @include mobile {
        order: 1
      }
    }
  }
}