@import "./mixins.scss";

body {
  margin: 0;
  font-family: 'Arial Narrow';
  letter-spacing: 0.5px;

  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Arial Narrow';
    letter-spacing: 0.5px;
  }
  
  select {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Arial Narrow';
    letter-spacing: 0.5px;
  }

  p {
    margin: 0;
  }
  
  .app-container {
    padding: 40px;

    @include mobile {
      padding: 10px;
    }
  }
}